
.footer	
	padding: 100px 0 0
	position: absolute
	width: 100%

	@include for-medium-screen
		padding: 50px 0
		background-color: $black

.footer__content	
	@extend %set-flex-align
	justify-content: space-between
	padding: 0 50px

.footer__links
	@extend %set-flex-align
	gap: 20px