.hero {
	position: relative;
}

.hero_text {
	position: absolute;
	z-index: 2;
	@include absolute-center();
}

.hero_logo {
	display: block;
	margin: 0 auto 20px;

	@include for-small-screen {
		width: 300px;
	}
}

.hero_heading {

	text-transform: uppercase;
	letter-spacing: 10px;

	@include for-medium-screen {
		letter-spacing: 2px;
		text-align: center
	}
}

.swiper {
	width: 100%;
	height: 900px;
	overflow: hidden;

	@include for-medium-screen {
		height: 700px;
	}
	@include for-small-screen {
		height: 600px;
	}
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: red;

	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.bg-op {
	@extend %bg-image;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	filter: brightness(0.2);

}

.hero {
	.swiper-button-prev, 
	.swiper-button-next {
		color: $white; 	
		background-color: #262626;
		border: 1px solid #414141;
		@include border-radius(5px);
		padding: 30px;
	}

	

}



// .swiper-button-next {
// 	background-color: red;
// 	height: 300px;
// 	z-index: 200;
// 	position: relative;
// }