a,
button 
	appearance: none
	outline: none

button,
input[type='button'],
input[type='submit'] 
	background: none
	border: 0
	cursor: pointer
	outline: none
	padding: 0

.btn 
	@extend .r-14-l
	@include border-radius(3px)
	display: inline-block
	outline: none
	text-align: center
	padding: 17px 31px
	transition: 0.5s background-color ease-out, 0.5s color ease-out
	will-change: background-color, color
	color: $white


	&--primary 
		background-color: $gray-light-200
		margin-left: 2px
		@include for-medium-screen 
			margin-left: 0
		@include hover
			background-color: $red
			
	&--secondary
		@extend .r-14-l
		text-transform: uppercase
		border: 1px solid #4d6250

	&--third
		@extend .r-13-r
		border: 1px solid transparent
		color: $red
		padding: 9px 18px
		background-color: rgba(250,42,42,0.1)
		@include border-radius(17px)

		@include hover
			background-color: $white
			border: 1px solid $red

	&--price
		@extend .r-13-r
		line-height: 13px
		text-transform: capitalize
		background-color: $blue-dark
		padding: 13px 60px
		width: 222px
		margin-bottom: 2px
		@include border-radius(15px)

	#price
		@extend .m-24-l
	
.js-modal-button
	display: flex
	align-items: center
	justify-content: center
	background: $blue-dark
	height: 43px
	width: 43px

	position: absolute
	top: 0
	right: 0
	transform: translateX(50%) translateY(-50%) 

	@include border-radius(50%)

	svg
		color: $white