.modal 
	position: fixed
	top: 0%
	left: 0
	width: 100%
	height: 100vh
	opacity: 0
	visibility: hidden
	transition: 0.3s opacity, 0.3s visibility
	z-index: 50
	display: flex
	justify-content: center
	align-items: center

.modal.modal-active
	opacity: 1
	visibility: visible

.modal.modal-active .modal-inner 
	transform: none

.modal-bg 
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	background-color: rgba($blue-dark, 0.8)
	z-index: -1

.modal-inner 
	transform: translateY(-30px)
	transition: 0.3s transform
	min-width: 944px

	position: relative

	@include border-radius(15px)
	
	@include for-large-screen()
		min-width: 400px

	@include for-small-screen()
		min-width: 250px


.modal-content
	display: flex
	text-align: center

	@include for-small-screen()
		flex-direction: column

.modal-content__left
	background-color: $white-300
	padding: 34px 80px
	border-top-left-radius: 15px
	border-bottom-left-radius: 15px

	span
		@extend  .m-14-r
		color: $gray-light-500

.modal-content__title-left
	@extend  .m-24-m
	color: $blue-dark
	margin-bottom: 40px

.modal-content__right
	background-color: $white
	padding: 30px
	align-self: flex-start
	text-align: left
	width: 100%
	border-bottom-right-radius: 15px

	h3
		@extend .m-18-sb
		color: $blue-dark
		margin-bottom: 6px

	p
		margin-bottom: 34px


.cell
	&:not(:last-child)
		margin-bottom: 15px
		padding-bottom: 14px
		border-bottom: 1px solid #F1F1F1
	
.cell-container
	@extend .m-14-r
	color: $blue-dark
	display: flex
	align-items: center
	justify-content: space-between

.cell-input
	@extend %set-flex-align

	.mask
		padding-left: 10px