// //------- Fonts
// $font-primary: "Roboto", sans-serif;


//------- Colors
$black: #000;
$white: #fff;
$gray: #7D7979;
$gray-light-100: #6D6D6D;
$gray-light-200: #333;
$red: #FA2A2A;

$site-colors: (
	"black": $black,
	"white": $white,
	"gray": $gray

) !default;

//------- Screen Resolutions

$sm: 540px;
$md: 768px;
$lg: 960px;
$xl: 1170px;

