// //------- Fonts
$font-primary: "Roboto Condensed", sans-serif;
$font-secondary: "Montserrat", sans-serif;


//------- Colors
$black: #000;
$blue-dark: #212121;
$white: #fff;
$gray: #CCC5C5;
$gray-light-100: #6D6D6D;
$gray-light-200: #333;
$gray-light-300: #5C5C5C;
$gray-light-400: #4E4E4E;
$gray-light-500: #929AAD;
$red: #FA2A2A;
$green: #011f05;
$green-light: #26402a;

$site-colors: (
	"black": $black,
	"white": $white,
	"gray": $gray,
	"green": $green

) !default;

//------- Screen Resolutions

$sm: 540px;
$md: 768px;
$lg: 960px;
$xl: 1170px;

