<section class="about-us">
	<div class="wrapper">
		<div class="about-us__content">
			<div class="about-us__left">
				<img src="assets/img/main/about-us-section.png" alt="" class="about-us__img">
				<p class="about-us__img-desc">A progressive design, a ppowerful engine</p>
			</div>
			<div class="about-us__right">
				<span class="pre-heading">About q8</span>
				<h2 class="about-us__heading">Welcome to the 8th dimension. The new Audi Q8</h2>
				<p class="about-us__intro">With its imposing Singleframe in octagonal design, the Audi Q8 presents the new face of the Q family.</p>
				<p class="about-us__text">The radiator grille combines with the forward-mounted spoiler and the strongly contoured air inlets to underline its confident look.</p>
			</div>
		</div>
	</div>
</section>