<section class="banner">
	<div class="wrapper">
		<div class="banner__content">
			<span class="pre-heading">Featured</span>
			<h2 class="banner__heading">Brand new The Audi RSQ8</h2>
			<p class="banner__paragraph">The RS Q8 gives you the choice: depending on the selected equipment, its looks are even bolder and spotier to suit your personal ambitions</p>
			<div class="banner__boxes">
				<div class="banner__box color-white">
					<span class="pre-heading">power output</span>
					<p class="banner__box-num">441 KW</p>
					<p class="banner__box-desc">600hp</p>
				</div>
				<div class="banner__box color-white">
					<span class="pre-heading">acceleration</span>
					<p class="banner__box-num">3.8</p>
					<p class="banner__box-desc">seconds</p>
				</div>
				<div class="banner__box color-white">
					<span class="pre-heading">torque</span>
					<p class="banner__box-num">800</p>
					<p class="banner__box-desc">Nm</p>
				</div>
			</div>
		</div>
	</div>
</section>