<section class="contact-form">
	<div class="wrapper">
		<div class="contact-form__content">
			<img src="assets/img/main/contact-form-img.png" alt="" class="contact-form__img">
			<div class="contact-form__left">
				<div class="contact-form__group">
					<span class="pre-heading">Contact us</span>
					<h2 class="contact-form__heading color-white">If you have any questions, don't hesitate to contact us.</h2>
				</div>
			</div>
			<div class="contact-form__right bg-green">
				<form action="" class="form">
					<div class="form__item">
						<label for="name"></label>
						<input type="text" class="form__input" placeholder="Enter your name">
					</div>
					<div class="form__item">
						<label for="email"></label>
						<input type="email"  class="form__input" placeholder="Enter your email">
					</div>
					<div class="form__item">
						<textarea placeholder="Your message" class="form__message"></textarea>
					</div>
					<button type="submit" class="btn btn--secondary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</section>