<section class="contact-form">
	<div class="wrapper">
		<div class="contact-form__content bg-black">
			<div class="contact-form__left">
				<h1>hello</h1>
			</div>
			<div class="contact-form__right">
				<h2>right</h2>
			</div>
		</div>
	</div>
</section>