<section class="hero" role="banner">
	
		<div class="swiper mySwiper">
			<div class="swiper-wrapper">
				<div class="swiper-button-next"></div>
				<div class="swiper-slide">
					<img src="assets/img/main/header-img-1920.jpg" alt="" >
					<div class="swiper-content">
						<span class="hero__pre">New arrival</span>
						<h1 class="hero__heading">Expectations put limitations on possibilities</h1>
						<div class="hero__text">
							<p class="hero__paragraph">The Audi Q8 offers a unique performance that blends sport and utility into a momentous SUV design.</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<img src="assets/img/main/hero-img-2.jpg" alt="" class="bg-op">
					<div class="swiper-content">
						<span class="hero__pre">New arrival</span>
						<h1 class="hero__heading">Something in the air: the truth about over updates</h1>
						<div class="hero__text">
							<p class="hero__paragraph">The Audi Q8 offers a unique performance that blends sport and utility into a momentous SUV design.</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<img src="assets/img/main/hero-img-3.jpg" alt="" class="bg-op" >
					<div class="swiper-content">
						<span class="hero__pre">New arrival</span>
						<h1 class="hero__heading">Wildly redesigned Kia Niro launches in 2022</h1>
						<div class="hero__text">
							<p class="hero__paragraph">The Audi Q8 offers a unique performance that blends sport and utility into a momentous SUV design.</p>
						</div>
					</div>
				</div>
			
				<div class="swiper-button-prev"></div>
			</div>
		</div>

</section>