<section class="products">
	<div class="wrapper">
		<div class="products__content">
			<h2 class="products__heading">You might take a look...</h2>


			<ul class="tabs">
				<li data-tab-target="#home" class="active-tab tab">All</li>
				<li data-tab-target="#hatchbackr" class="tab">Hatchbackr</li>
				<li data-tab-target="#sportback" class="tab">Sportback</li>
				<li data-tab-target="#limousine" class="tab">Limousine</li>
				<li data-tab-target="#suv" class="tab">SUV</li>
				<li data-tab-target="#cabrio" class="tab">Cabrio</li>
			</ul>

			<div class="tab-content">
				<div id="home" data-tab-content class="active-tab">
					<div class="products__group">
						<div class="products__card">
							<div class="product__card-intro">
								<div class="product__card-container">
									<img src="assets/img/products/product-card-audi-a3.png" alt="">
								</div>
								<span>5 Seats, 4 Doors</span>
								<h3 class="products__card-title">Audi Q3 2020</h3>
								<a href="javascript:;">Configurator</a>
							</div>
							<ul class="products__card-list">
								<li><p>Includes 300 free km</p></li>
								<li><p>Theft Protection</p></li>
								<li><p>Non Refundable</p></li>
							</ul>
							<div class="product__card-bottom">
								<div class="products__card-price">
									<span>Starting from</span>
									<p>29.999 €</p>
								</div>
								<button class="btn btn--third">Buy now</button>
							</div>
						</div>
						<div class="products__card">
							<div class="product__card-intro">
								<div class="product__card-container">
									<img src="assets/img/products/product-card-audi-a4.png" alt="">
								</div>
								<span>5 Seats, 4 Doors</span>
								<h3 class="products__card-title">Audi Q3 2020</h3>
								<a href="javascript:;">Configurator</a>
							</div>
							<ul class="products__card-list">
								<li><p>Includes 300 free km</p></li>
								<li><p>Theft Protection</p></li>
								<li><p>Non Refundable</p></li>
							</ul>
							<div class="product__card-bottom">
								<div class="products__card-price">
									<span>Starting from</span>
									<p>24.999 €</p>
								</div>
								<button class="btn btn--third">Buy now</button>
							</div>
						</div>
						<div class="products__card">
							<div class="product__card-intro">
								<div class="product__card-container">
									<img src="assets/img/products/product-card-audi-q3.png" alt="">
								</div>
								<span>5 Seats, 4 Doors</span>
								<h3 class="products__card-title">Audi Q3 2020</h3>
								<a href="javascript:;">Configurator</a>
							</div>
							<ul class="products__card-list">
								<li><p>Includes 300 free km</p></li>
								<li><p>Theft Protection</p></li>
								<li><p>Non Refundable</p></li>
							</ul>
							<div class="product__card-bottom">
								<div class="products__card-price">
									<span>Starting from</span>
									<p>1 9.999 €</p>
								</div>
								<button class="btn btn--third">Buy now</button>
							</div>
						</div>
						<div class="products__card">
							<div class="product__card-intro">
								<div class="product__card-container">
									<img src="assets/img/products/product-card-audi-q7.png" alt="">
								</div>
								<span>5 Seats, 4 Doors</span>
								<h3 class="products__card-title">Audi Q3 2020</h3>
								<a href="javascript:;">Configurator</a>
							</div>
							<ul class="products__card-list">
								<li><p>Includes 300 free km</p></li>
								<li><p>Theft Protection</p></li>
								<li><p>Non Refundable</p></li>
							</ul>
							<div class="product__card-bottom">
								<div class="products__card-price">
									<span>Starting from</span>
									<p>39.999 €</p>
								</div>
								<button class="btn btn--third">Buy now</button>
							</div>
						</div>
					</div>
				</div>
				<div id="hatchbackr" data-tab-content>
					<div class="products__group">
						<div class="products__card">
							<p>hello 5</p>
						</div>
						<div class="products__card">
							<p>hello 6</p>
						</div>
						<div class="products__card">
							<p>hello 7</p>
						</div>
						<div class="products__card">
							<p>hello 8</p>
						</div>
					</div>
				</div>
				<div id="sportback" data-tab-content>
					<div class="products__group">
						<div class="products__card">
							<p>hello 1</p>
						</div>
						<div class="products__card">
							<p>hello 2</p>
						</div>
						<div class="products__card">
							<p>hello 3</p>
						</div>
						<div class="products__card">
							<p>hello 4</p>
						</div>
					</div>
				</div>
				<div id="limousine" data-tab-content>
					<div class="products__group">
						<div class="products__card">
							<p>hello 1</p>
						</div>
						<div class="products__card">
							<p>hello 2</p>
						</div>
						<div class="products__card">
							<p>hello 3</p>
						</div>
						<div class="products__card">
							<p>hello 4</p>
						</div>
					</div>
				</div>
				<div id="suv" data-tab-content>
					<div class="products__group">
						<div class="products__card">
							<p>hello 1</p>
						</div>
						<div class="products__card">
							<p>hello 2</p>
						</div>
						<div class="products__card">
							<p>hello 3</p>
						</div>
						<div class="products__card">
							<p>hello 4</p>
						</div>
					</div>
				</div>
				<div id="cabrio" data-tab-content>
					<div class="products__group">
						<div class="products__card">
							<p>hello 1</p>
						</div>
						<div class="products__card">
							<p>hello 2</p>
						</div>
						<div class="products__card">
							<p>hello 3</p>
						</div>
						<div class="products__card">
							<p>hello 4</p>
						</div>
					</div>
				</div>
				
			</div>

		</div>
	</div>
</section>