<section class="products">
	<div class="wrapper">
		<div class="products__content">
			<h2 class="products__heading">You might take a look...</h2>


			<ul class="tabs">
				<li data-tab-target="#home" class="active-tab tab">All</li>
				<li data-tab-target="#pricing" class="tab">Hatchbackr</li>
				<li data-tab-target="#about" class="tab">Sportback</li>
				<li data-tab-target="#about" class="tab">Limousine</li>
				<li data-tab-target="#about" class="tab">SUV</li>
				<li data-tab-target="#about" class="tab">Cabrio</li>
			</ul>

			<div class="tab-content">
				<div id="home" data-tab-content class="active-tab">
					<h1>All</h1>
					<p>This is the home</p>
				</div>
				<div id="pricing" data-tab-content>
					<h1>Pricing</h1>
					<p>Some information on pricing</p>
				</div>
				<div id="about" data-tab-content>
					<h1>Sportback</h1>
					<p>Let me tell you about me</p>
				</div>
			</div>

		</div>
	</div>
</section>