<section class="products">
	<div class="wrapper">
		<div class="products__content">
			<h2 class="products__heading">You might take a look...</h2>


			<ul class="tabs">
				<li data-tab-target="#home" class="active-tab tab">All</li>
				<li data-tab-target="#hatchbackr" class="tab">Hatchbackr</li>
				<li data-tab-target="#sportback" class="tab">Sportback</li>
				<li data-tab-target="#limousine" class="tab">Limousine</li>
				<li data-tab-target="#suv" class="tab">SUV</li>
				<li data-tab-target="#cabrio" class="tab">Cabrio</li>
			</ul>

			<div class="tab-content">
				<div id="home" data-tab-content class="active-tab">
					<h1>All</h1>
					<p>This is the home</p>
				</div>
				<div id="hatchbackr" data-tab-content>
					<h1>Hatchbackr</h1>
					<p>This is the home</p>
				</div>
				<div id="sportback" data-tab-content>
					<h1>Sportsback</h1>
					<p>This is the home</p>
				</div>
				<div id="limousine" data-tab-content>
					<h1>Limousine</h1>
					<p>This is the home</p>
				</div>
				<div id="suv" data-tab-content>
					<h1>Suv</h1>
					<p>This is the home</p>
				</div>
				<div id="cabrio" data-tab-content>
					<h1>Cabrio</h1>
					<p>This is the home</p>
				</div>
				
			</div>

		</div>
	</div>
</section>